<h1 class="display-1">List of Open Issues</h1>
<br><br><br><br>
<div id="{{ids}}_2">
</div>	
<script type="text/javascript">
////////////////////////////////////////////////////////////
////        CALL AJAX VIEW ISSUES BY USER TABLE        //// 
//////////////////////////////////////////////////////////
function viewallajax(location) {
	jQuery('#'+location).html('<i class="fas fa-spinner fa-spin"></i>')
	jQuery.ajax({
		'async': true,
		'global': false,                             
		'url': '/issues/{{user.username}}/ajaxview/',
		'success': function (dataSchemaObject) {
			jQuery('#'+location).html(dataSchemaObject)
		}
	});
}
$(document).ready(function () {
	viewallajax('{{ids}}_2')
})      
</script>