<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Battlefront Posleen Wars.">
  <meta name="keywords" content="Space Warfare">
  <meta name="author" content="Jonathan Davies">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="{{VERIFICATION_GOOGLE}}" />  
  <title>{{pagetitle}}</title>
</head>
<body id="page-top">
  {{>css fontawesome=true bootstrap=true custom=true datatable=true approve=true}}
  {{>javascript bootstrap=true approve=true googlemaps=true datatable=true recapture=true fontawesome=true}}
  {{>navigation}}
  <div id='toToppo' style="z-index: 1000;  position:relative"><a href="#" title="Scroll to top of page."><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a></div>
  <style type="text/css">
    #toToppo a {
      padding: 5px 5px;
      background: #000;
      color: #fff;
      position: fixed;
      z-index: -15px;
      bottom: 15px;
      right: 15px;
      display: none;
      text-decoration: none;
      border-radius: 5px
    }
    .error-text {
    color: #dc3545!important;
    font-size: small;
}
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
                //Check to see if the window is top if not then display button
                $(window).scroll(function(){
                  if ($(this).scrollTop() > 100) {
                    $('#toToppo a').fadeIn();
                  } else {
                    $('#toToppo a').fadeOut();
                  }
                });
                //Click event to scroll to top
                $('#toToppo a').click(function(){
                  $('html, body').animate({scrollTop : 0},600);
                  return false;
                });
              });
            </script>
            <header class="masthead">
              <div class="container h-100">
                <div class="row h-100">
                  <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                      <h1 class="display-1">{{siteName}} - Galactic Warfare.</h1>
                      <p class="lead"> 


Galactic Warfare is about one thing  , killing Posleen . 

An invading army of billions is approaching earth from various planetary launch points, and the fate of the human race hangs in the balance .

You are a well-trained, poorly equipped member of the newly created Galactic Federation, you job is hunt and destroy the Posleen for bounty. 

Can you destroy enough Posleen to finance the protection of the earth?



 </p>



                      <div class="btn-group btn-group-lg btn-block" role="group" style="text-align: center;">
                        <a href="/signup" style="width: 47%" role="button" class="btn btn-outline-warning ">Get Started.</a>
                        <a href="#conveyors" role="button"  style="width: 47%" class="btn btn-outline-light">Download</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 my-auto">
                   {{> signuphomepage}}  
                 </div>
               </div>
             </div>
           </header>
          
     {{> analytics}}
    
   </body>
   </html>
